body{
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
 
}
.a{

height: 50px;
width: 100;
color: rgb(255, 0, 157);
margin-left: 45%;
text-transform: uppercase;


}
.b{
  margin: 100px;
  margin-left:45%;
  background-color: white;
  width:160px;
  font-size: 30px;
  text-transform: uppercase;
  border: 10px solid rgb(240, 240, 240);
  border-radius:30px;
  display: inline-block;

  
}
button {
  margin-left: 15px;
  padding:5px;
  justify-items: center;

}
.c{


  background-color: orchid;
  width:160px;
  font-size: 10px;
  text-transform: uppercase;
  border: 4px solid rgb(88, 26, 129);
  border-radius:80px;
  
}
.d{
 
  background-color: orchid;
  width:160px;
  font-size: 10px;
  text-transform: uppercase;
  border: 4px solid rgb(88, 26, 129);
  border-radius:80px;
 
}
.e{
  padding-left: 10px;
  background-color: orchid;
  width:160px;
  font-size: 10px;
  text-transform: uppercase;
  border: 4px solid rgb(88, 26, 129);
  border-radius:80px;

}
.q{
  margin-left: 30%;
}

